---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import WorkSkillFilter from '@/components/WorkSkillFilter';

const workProjects = await getCollection('workProject');
const workSkills = await getCollection('workSkills');
const workJobs = await getCollection('workJobs');
const workCompanies = await getCollection('workCompany');
const workSkillCategories = await getCollection('workSkillCategory');
---

<Layout>
  <title>Work | Bracket Bear</title>
  <div class="bg-primary/50 py-24">
    <div class="container mx-auto">
      <div class="border-default bg-background mb-8 inline-block p-8">
        <h1 class="text-foreground text-5xl font-black uppercase">Work</h1>
      </div>
      <!-- Introduction -->
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="p-8">
          <p class="text-foreground space-y-4 pb-5 text-2xl font-medium">
            I've been working as a software engineer for over 10 years. I've
            worked in a variety of roles, from a solo developer to a team of 12+
            engineers. I've worked in a variety of industries, from startups to
            large corporations.
          </p>
          <p class="text-foreground space-y-4 text-2xl font-medium">
            The tool below is to help you understand my skills and experience.
            <span
              class="skill-pill skill-pill-selected border-default mr-1 rounded-none !text-lg"
              >Select</span
            > a skill to see projects I've worked on that use that skill, or a category
            to choose multiple skills at once. We'll filter the list of jobs and
            projects and show you the ones that match your selection.
          </p>
        </div>
      </div>
    </div>

    <div class="container mx-auto py-16">
      <WorkSkillFilter
        skills={workSkills}
        skillCategories={workSkillCategories}
        jobs={workJobs}
        projects={workProjects}
        companies={workCompanies}
        client:load
      />
    </div>
  </div>
</Layout>
