---
import { getCollection } from 'astro:content';
import WorkSkillFilter from '@/components/WorkSkillFilter';
import { getWorkBreadcrumbs } from '@/config/breadcrumbs';
import ContentLayout from '@/layouts/ContentLayout.astro';

const workProjects = await getCollection('workProject');
const workSkills = await getCollection('workSkills');
const workJobs = await getCollection('workJobs');
const workCompanies = await getCollection('workCompany');
const workSkillCategories = await getCollection('workSkillCategory');
const breadcrumbs = getWorkBreadcrumbs();
---

<ContentLayout title="Work History" breadcrumbs={breadcrumbs}>
  <div class="py-8">
    <div
      class="border-foreground/20 mb-5 rounded-sm border bg-[#fdf0d5] px-6 py-5 text-xl leading-relaxed font-medium text-[#222] shadow-[2px_2px_0_#111]"
      style="font-family: 'Inter', 'Arial', sans-serif;"
    >
      I've been working as a software engineer for over 10 years. I've worked in
      a variety of roles, from a solo developer to a team of 12+ engineers. I've
      worked in a variety of industries, from startups to large corporations.
    </div>
    <div
      class="border-foreground/20 rounded-sm border bg-[#fdf0d5] px-6 py-5 text-xl leading-relaxed font-medium text-[#222] shadow-[2px_2px_0_#111]"
      style="font-family: 'Inter', 'Arial', sans-serif;"
    >
      The tool below is to help you understand my skills and experience. Select
      a skill to see projects I've worked on that use that skill, or a category
      to choose multiple skills at once. We'll filter the list of jobs and
      projects and show you the ones that match your selection.
    </div>
  </div>
  <div class="py-16">
    <WorkSkillFilter
      skills={workSkills}
      skillCategories={workSkillCategories}
      jobs={workJobs}
      projects={workProjects}
      companies={workCompanies}
      client:load
    />
  </div>
</ContentLayout>
