---
import { LayeredLayout, PointerFX } from '@bracketbear/core';
import { navigationConfig } from '@/config/navigation';
import '@/styles/global.css';

interface Props {
  title?: string;
  hideContactForm?: boolean;
  hideFooter?: boolean;
  hideNavigation?: boolean;
}

const { title, hideContactForm, hideFooter, hideNavigation } = Astro.props;
---

<LayeredLayout
  title={title}
  hideContactForm={hideContactForm}
  hideFooter={hideFooter}
  hideNavigation={hideNavigation}
  navigation={navigationConfig}
>
  <slot />
  <div slot="foreground">
    <PointerFX client:load />
  </div>
</LayeredLayout>
